#logo{
    width: 100px;
    display: block;
}

#title{
    display: block;
}

#titre{
line-height: 2em;
}

#p{
    line-height: 0%;
   
}

#menu{
    display: block;
    margin-left: 1500px;
}

.boutons{
    display: inline-block;
    
}

#location{
    font-weight: bold;
    height: 40px;
    float:left;
    
}

#rechercher{
    background-color: #005EB0;
    height: 40px;
    width: 110px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 0px;
    font-weight: bold;
    color: white;

}


h2{
    margin-bottom: 50px;
}

img{
    width: 12%;
    border-radius: 20px;
}

.container{
    display: block;
    max-block-size: 50%;
    background-color: grey;
    margin-right: 600px;
}