@font-face {
    font-family: "Raleway";
        src: url("../fonts/Raleway-VariableFont_wght.ttf");
    }

 *{
     font-family: "Raleway";
 }

 #menu{
     display: flex;
     margin-left: 1450px;
 }

 #hebergement{
    color: #0065FC;
    margin-right: 50px;
    font-size: 20px;
    text-shadow: 0.5px 0px 0.3px;
 }
   

#inscrire{
    color: #0065FC;
    font-weight: bold;
    padding-left: 50px;
    font-size: 20px;
}

#activites{
font-size: 20px;
}

#logo{
    width: 120px;
    display: block;
    margin-top: -6px;
}

#titre{
font-size: 28px;
margin-top: 45px;
}

#nature{
    font-size: 20px;
    margin-top: -5px;
}

#loc{
display: flex;
justify-content: left;
}

#rechercher{
    background-color: #0065FC;
    height: 60px;
    width: 180px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    vertical-align: 1px;
}

#location{
    font-weight: bold;
    height: 60px;
    width: 315px;
    font-size: 25px;
}

.fa-map-marker-alt{
    text-align: center;
    margin-left: 17px;
    margin-top: 20px;
    font-size: 22px;
}

.icon{
    height: 60px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}

#filtersContainer {
    width: 150px;
    display: flex;
    justify-content: stretch;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

#eco{
    font-weight: bold;
    font-size: 25px;
    border-width: 1px;
    border-radius: 40px;
    height: 65px;
    width: 260px;
    border-color: #F2F2F2;
}

#familial{
    font-weight: bold;
    font-size: 25px;
    border-width: 1px;
    border-radius: 40px;
    height: 65px;
    width: 200px;
    border-color: #F2F2F2;
}

#romantique{
    font-weight: bold;
    font-size: 25px;
    border-width: 1px;
    border-radius: 40px;
    height: 65px;
    width: 250px;
    border-color: #F2F2F2;
}

#animaux{
    font-weight: bold;
    font-size: 25px;
    border-width: 1px;
    border-radius: 40px;
    height: 65px;
    width: 325px;
}

.fa-money-bill-wave{
    color: #0065FC ;
    font-size: 30px;
    margin: auto;
}

.fa-child{
    color: #0065FC ;
    font-size: 30px;
    margin: auto;
}

.fa-heart{
    color: #0065FC ;
    font-size: 30px;
    margin: auto;
}

.fa-dog{
    color: #0065FC ;
    font-size: 30px;
    margin: auto;
}

.test{
    display: flex;
}


#info{
 height: 45px;
 width: 45px;
 border-radius: 100px;
 background-color: #F2F2F2;
}

.fa-info{
    position:relative;
    top: 12px;
    left: 20px;
    font-size: 17px;
    color: #0065FC;
}

#logement{
    padding-left: 15px;
    font-size: 20px;
}

.city{
    display: flex;
}

.container{}

#marseille{
font-size: 28px;
margin-left: 45px;
margin-top: 50px;
}

.hotel{
    width: 275px;
    height: 130px;
    margin-left: 55px;
    margin-top: 5px;
    border-radius: 15px;
}

.text{
    margin-left: 65px;
    margin-top:-5px;
    line-height: 8px;
}

#host{
    background-color: #F2F2F2;
    height: 750px;
    width: 1100px;
    border-radius: 15px;
    margin-top: 50px;
}

#background{
    margin-left: 50px;
    width: 285px;
    height: 225px;
    background-color: white;
    border-radius: 15px;
}

#content{
    margin-top: -225px;
}

.checked{
color: #0065FC;
}

.notChecked{
    color: #F2F2F2;
}

.euro{
    font-weight: bold;
    margin-top: -24px;
    margin-left: 115px;
}

.port{
    margin-top: -220px;
    margin-left: 350px;
}

.mouettes{
    margin-top: -220px;
    margin-left: 700px;
}

.mer{
    margin-top: 60px;
}

.panier{
    margin-top: -220px;
    margin-left: 350px;
}

.amina{
    margin-top: -220px;
    margin-left: 700px;
}

#plus{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 18px;
}

.blocDroit{
background-color: #F2F2F2;
width: 500px;
height: 750px;
margin-top: -750px;
margin-left: 1200px;
border-radius: 15px;
}

#navPop{
    display: inline-block;
    margin-left: 30px;
    margin-top: 25px;
}

.fa-chart-line{
    margin-left: 420px;
    position: relative;
    top: -40px;
    font-size: 26px;
}

.soleil{
    margin-top: -680px;
    margin-left: 1250px;
}

.pop{
    margin-left: 35px;
    margin-top: -225px;
    width: 150px;
    height: 160px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#images{
    margin-top: -20px;
}

#font{
    margin-top: -15px;
    margin-left: 30px;
    width: 400px;
    height: 170px;
    background-color: white;
    border-radius: 15px;
}

#matin{
 margin-top: -160px;
 margin-left: 200px;
}

.nuit{
    line-height: 6px;
}

.etoile{
    margin-top: 45px;
    margin-left: 200px;
}

#coeur{
    margin-top: 60px;
}

#eau{
    margin-top: -160px;
    margin-left: 200px;
}

#bleublanc{
    margin-top: 60px;
}

#toutbleu{
    margin-top: -160px;
    margin-left: 200px;
}

#aFaire{
    margin-top: 80px; 
}

#vieuxport{
    height: 500px;
    width: 350px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 0px #F2F2F2;
}

.large{
    width: 350px;
    height: 450px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#soustitre{
    margin-left: 20px;
    margin-top: -10px;
}

#fort{
    width: 350px;
    height: 275px;
    margin-left: 420px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #F2F2F2;
}

#pomegues{
    margin-top: -500px;
}

.small{
    height: 225px;
    width: 350px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#pomTitre{
    margin-left: 25px;
    margin-top: -7px;
}

#frioul{
    margin-top: 45px;
    width: 350px;
    height: 180px;
    margin-left: 420px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #F2F2F2;
}

.horizon{
width: 350px;
height: 130px;
border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#calanques{
    margin-left: 850px;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 0px #F2F2F2;
}

.parc{
    width: 350px;
    height: 450px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#national{
    margin-top: -520px;
}

#dameGarde{
    position: relative;
    left: 860px;
    /* position relative car margin ne fonctionne pas */
    margin-top: 120px;
    width: 350px;
    height: 180px;
    margin-left: 420px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #F2F2F2;
}

.garde{
    width: 350px;
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    }
    
    #notreDame{
    margin-top: -620px;
    }
    
    #dameTitre{
        margin-left: 20px;
        margin-top: -5px;
    }

    #pl{
        margin-left: 420px;
    }

    #longchamp{
        margin-left: 860px;
        margin-top: 50px;
        height: 270px;
        width: 350px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 0px #F2F2F2;
    }
    
    .parcLong{
        width: 350px;
        height: 300px;
        height: 225px;
        width: 350px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    #titreLongchamp{
        margin-left: 890px;
        margin-top: -50px;
    }

    #footer{
        display: flex;
        background-color: #F2F2F2;
        width: 1800px;
        margin-top: 100px;
    }

    #aPropos{
        margin-top: 40px;
    }
    #charte{
        margin-top: 40px;
        margin-left: 300px;
    }

    #assistance{
        margin-top: 40px;
        margin-left: 370px;
    }