@font-face {
    font-family: "Raleway";
        src: url("../fonts/Raleway-VariableFont_wght.ttf");
    }

 *{
     font-family: "Raleway";
 }


 #main-container{ 
    margin-left: 50px;
    margin-right: 50px;
 }

 a:hover {color: red;}

 #menu{
     display: flex;
     justify-content: flex-end;
 }

 .hebergement{
    color: #0065FC;
    margin-right: 50px;
    font-size: 20px;
    text-shadow: 0.5px 0px 0.3px;
    text-decoration: none;
 }
   

.inscrire{
    color: #0065FC;
    font-weight: bold;
    padding-left: 50px;
    font-size: 20px;
    text-decoration: none;
}

.activites{
font-size: 20px;
color: black;
text-decoration: none;
}

#logo{
    width: 120px;
    display: block;
    margin-top: -6px;
}

#titre{
font-size: 28px;
margin-top: 45px;
}

#nature{
    font-size: 20px;
    margin-top: -5px;
}

#loc{
display: flex;
justify-content: left;
}

#rechercher{
    background-color: #0065FC;
    height: 60px;
    width: 180px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    vertical-align: 1px;
}

#location{
    font-weight: bold;
    height: 60px;
    width: 315px;
    font-size: 25px;
    border: 1px solid #F2F2F2;
}

.fa-map-marker-alt{
    text-align: center;
    margin-left: 17px;
    margin-top: 20px;
    font-size: 22px;
}

.icon{
    height: 60px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}

#filtersContainer{
    width: 75%;
    display: flex;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 50px;
    justify-content: space-between;
} 

#whistle{
    padding-top: 25px;
}

.filtres{
    color: #0065FC ;
    font-size: 1.5vw;
    margin-top: 15px;
    text-align: left;
}

.iconsBack{
    border-radius: 100%;
    background-color: #DEEBFF;
    height: 60px;
    width: 60px;
    text-align: center;
}

.categorie{
    display: flex;
    font-weight: bold;
    border-width: 1px;
    border-radius: 40px;
    border: 3px solid #F2F2F2;
    margin-top: 10px;
    min-width: 200px;
    max-height: 60px;
}

.city{
    display: flex;
    margin-top: 25px;
}

#info{
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    margin-top: 10px;
   }
   
.fa-info{
       font-size: 15px;
       color: #0065FC;
       margin-left: -16px;
       margin-right: 20px;
       margin-top: 16px;
   }

   .filtersContent{
    display: flex;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

/* Hebergements à Marseille */

.container{
    display: flex; 
    justify-content: space-between;
}

.hotel{
    object-fit:cover;
    margin-left: 5px;
    width: 325px;
    height: 8vw;
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#host{
    margin-top: 15px;
    max-width: 70%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.hostcontent{
    display: inline-flex;
    flex-direction: column;
    margin-left: 3.5em;
    padding-bottom: 2vw;
}

.text{
    margin-left: 20px;
    line-height: 5px;
}

.euro{
    font-weight: bold;
}

#content{
    width: 335px;
    height: 13vw;
    background-color: white;
    border-radius: 15px;
}

.checked{
    color: #0065FC;
    font-size: 0.6vw;
}
    
.notChecked{
    color: #F2F2F2;
    font-size: 0.6vw;
}

#marseille{
    margin-left: 3.5em;
    padding-top: 20px;
}

#plus{
    margin-left: 3.5em;
    padding-bottom: 2vw;
}

/* les plus populaires */

.blocDroit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 15px;
    padding-top: 1vw;

}

.fame{
    object-fit:cover;
    padding-top: 7px;
    margin-left: 5px;
    width: 150px;
    height: 9vw;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.images{
    display: flex;
    width: 380px;
    height: 9.7vw;
    background-color: white;
    border-radius: 10px;
}

.description{
    padding-top: 0.4vw;
    font-size: 14px;
    margin-left: 15px;
}

.nuit{
    line-height: 6px;
}

.etoile{
    line-height: 6.2vw;
}

#navPop{
    display: flex;
    padding-bottom: 0.5vw;
    margin-bottom: 0.5vw;
}


#bleublanc{
    padding-bottom: 1.8vw;
}

.fa-chart-line{
    padding-left: 8vw;
    padding-top: 1.4vw;
}

/* acitivités à Marseille */

#picture-container{
    display: flex;
    justify-content: space-between;
}



.picture{
    object-fit:cover;
    width: 18vw;
    height: 28vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
   justify-content: center;
}

#fort{
    object-fit:cover;
    width: 20vw;
    height: 28vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
}

#island{
    object-fit:cover;
    width: 20vw;
    height: 8vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
}

#garde{
    object-fit: cover;
    width: 20vw;
    height: 10vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
}

#fontaine{
    object-fit:cover;
    width: 20vw;
    height: 12vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
}

.bottom{
    background-color: cadetblue;
    border-radius: 10px;
}

.last{
    margin-top: 4.7vh;
}

.first{
    margin-top: 6vh;
}

.background-large{
    background-color: cadetblue;
    border-radius: 10px;
}

#footer-container{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer{
    margin-right: 23vw;
}

ul{
    list-style-type: none;
    line-height: 3.8vh;
    white-space: nowrap;
    padding-top: 1vh;
    padding-bottom: 2vh;
}
.main-container{
    margin-left: 50px;
    margin-right: 50px;
}

.soustitre{
    margin-left: 1vw;
}

.soustitre-small{
    margin-left: 1vw;
    padding-bottom: 0.2vh;
}
